header{
    background-color: aqua;
    color: rgb(0, 0, 0);
    justify-content:center;
    align-items: center;
    text-align: center;
    border-radius: 20%;
    font-weight: bold;
    height: 40vh;
}
nav{
    background: linear-gradient(rgba(102, 210, 197, 0.329), rgb(106, 241, 106));
    text-align: center;
    border-radius: 20%;
    font-weight: bold;
    height: 20vh;
    justify-content:center;
    align-items: center;
    display: flex;

}
footer{
    background: linear-gradient(rgba(242, 233, 233, 0.214), pink);
    border-radius: 20%;
    text-align: center;
    font-weight: bold;
    height: 20vh;
    justify-content:center;
    align-items: center;
    display: flex;
  
}

img{
    border-radius: 45%;
    margin: 10px;
}